.icon {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
}

.icon-cpp {
  background: url('../assets/vectors/cplusplus.svg');
}

.icon-css3 {
  background: url('../assets/vectors/css3.svg');
}

.icon-git {
  background: url('../assets/vectors/git.svg');
}

.icon-github {
  background: url('../assets/vectors/github.svg');
}

.icon-html5 {
  background: url('../assets/vectors/html5.svg');
}

.icon-javascript {
  background: url('../assets/vectors/javascript.svg');
}

.icon-labview {
  background: url('../assets/vectors/labview.svg');
}

.icon-linkedin {
  background: url('../assets/vectors/linkedin.svg');
}

.inco-mail {
  background: url('../assets/vectors/mail.svg');
}

.icon-meteor {
  background: url('../assets/vectors/meteor.svg');
}

.icon-sqlserver {
  background: url('../assets/vectors/microsoftsqlserver.svg');
}

.icon-mongodb {
  background: url('../assets/vectors/mongodb.svg');
}

.icon-mysql {
  background: url('../assets/vectors/mysql.svg');
}

.icon-ruby {
  background: url('../assets/vectors/ruby.svg');
}

.icon-ruby-on-rails {
  background: url('../assets/vectors/rubyonrails.svg');
}

.icon-sass {
  background: url('../assets/vectors/sass.svg');
}

.icon-vuejs {
  background: url('../assets/vectors/vue-dot-js.svg');
}
