// FONTS
$font-family-heading: 'Playfair Display', serif;
$font-family: 'Open Sans', sans-serif;
$font-size: 20px;

//#63458b
// COLORS
$background-color: #fbf2f6;
$text-color: #1a2e3b;
$light-text-color: #fff;
$accent-color: #1a2e3b;
$action-color: #d86995;
//$transparent-hover: rgba(99, 69, 139, 0.8);
$transparent-hover: rgba(26, 46, 59, 0.9);

// TRANSITIONS
$transition-length: 0.3s;

// BREAKPOINTS
$large-breakpoint: 1320px;
$medium-breakpoint: 800px;
$small-breakpoint: 510px;

// BORDERS
$border-radius: 0px;
