@import '../assets/scss/variables.scss';
@import '../assets/scss/icons.scss';
.about {
  display: flex;
  color: $text-color;
}

.my-photo {
  flex: 1 1 30%;
}

.my-photo img {
  width: 100%;
}
.about-skills-container {
  flex: 1 1 70%;
  display: flex;
}

.skills-text,
.about-text {
  flex: 1 1 50%;
  margin-left: 3em;
}

.about-text h3,
.skills-text h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.skill-list {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icon {
  display: inline-block;
  filter: invert(100%) sepia() saturate(10000%) hue-rotate(173deg)
    brightness(0.16);
}

.skill {
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em 0.5em 0.5em 0;
  display: flex;
  align-content: center;
}

.skill-name {
  text-align: center;
  display: inline-block;
  height: 100%;
  margin-top: 0.2em;
  margin-left: 0.5em;
  font-weight: 300;
}

.about-paragraph-wrapper {
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.25em;
}

p {
  margin: 0.5em 0;
  font-size: 0.8em;
}

.contact {
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
}

.email-container,
.phone-container {
  font-weight: 600;
  margin-right: 1em;

  p {
    font-size: 0.75em;
    font-weight: 300;
  }
}

.email-container {
  flex: 0 1 50%;
}

.phone-container {
  flex: 1 1 35%;
}

.button {
  padding: 2em 3em;
  font-size: 0.75em;
  font-family: $font-family;
  background-color: $action-color;
  color: $background-color;
  border: none;
  cursor: pointer;
  transition: filter $transition-length;
}

.button:hover {
  filter: brightness(120%) saturate(80%);
}

.button-contact {
  margin-top: 3em;
}

.cv-container {
  margin-top: 1em;
}

.cv-container a {
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: underline solid transparent 1px;
  color: $action-color;
  transition: text-decoration $transition-length;
}

.cv-container a:hover {
  text-decoration: underline solid $action-color 1px;
}

@media (max-width: $large-breakpoint) {
  .about-skills-container {
    display: block;
  }

  .about-text {
    margin-top: 3em;
  }
}

@media (max-width: $medium-breakpoint) {
  .my-photo,
  .about-text,
  .skills-text {
    flex: 1 1 100%;
    margin: 1em 0;
  }

  .about {
    flex-wrap: wrap;
  }
}
